ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    font-family: 'Raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 116.667%; 
letter-spacing: 0.54px;
text-transform: uppercase;
color: var(--IRIS, #4D5AE5);
}